.navigation {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 25px;
  margin-bottom: 50px;

  &__leftBlock,
  &__rightBlock {
    display: flex;
    align-self: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__leftBlock {
  }

  &__rightBlock {
  }

  &__smallArrowLeft {
    transform: rotate(180deg);
  }

  &__smallArrowRight {
  }

  &__span {
    color: #474747;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    opacity: 0.5;
    margin: 0 6px;
    display: flex;
    align-items: center;
  }
}
