.mainContent {
  padding: 20px 16px 0 16px;
  display: grid;
  grid-template-areas:
    'infoBlock generalSettings'
    'infoBlock paymentOptions';
  grid-auto-columns: max-content auto;
}

.infoBlock {
  grid-area: infoBlock;
  background-color: #ffffff;
  padding: 38px 32px;
  border: 1px solid rgba(196, 196, 196, 0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 372px;
  align-self: start;
  margin-right: 17px;

  &__rightBlock {
    overflow-y: scroll;
    height: calc(100vh - (78px + 79px + 20px));
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
  }

  &__optionIcon {
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }

  &__optionText {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}

.infoOption {
  &__container {
    margin-top: 33px;
    border: 1.3px solid rgba(196, 196, 196, 0.5);
    border-radius: 15px;
    padding: 16px 22px;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}

.anyPayments {
  &__addPaymentBlock {
    margin-top: 24px;
    display: flex;
    gap: 10px;
  }

  &__addPaymentLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: rgba(21, 152, 255, 0.1);
    border: 1px solid #1598ff;
    border-radius: 4px;
  }

  &__addPaymentLeftIcon {
    width: 28px;
    height: 28px;
  }

  &__addPaymentRight {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1598ff;
    border: 1px solid #1598ff;
    border-radius: 4px;
    padding: 16px;
    gap: 8px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.01);
    }
  }

  &__addPaymentRightIcon {
    width: 24px;
    height: 24px;
  }

  &__addPaymentRightSpan {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: var(--white);
  }
}

.form {
  display: grid;
  grid-auto-columns: 1fr 1fr;
  gap: 19px 21px;
  grid-template-areas:
    'countries countries2'
    'currentPassword currentPassword'
    'newPassword newPassword'
    'confirmPassword confirmPassword';
}

.countriesBlock {
  grid-area: countries;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #919499;
}
